@font-face {
    font-family: 'Fantome-Regular';
    src: url('fonts/Fantome-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FontOne";
    src: url("fonts/one.otf") format("opentype");
  }

body { 
    font-family: "FontOne";
    background-image: url(imgs/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #1F1821;
}


#left-div, #right-div {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    overflow-y: auto;  /* Allow scrolling if necessary */
    padding: 20px;
}

#left-div {
    left: 0;
    color: white; /* Base text color */
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f09, 0 0 20px #f09, 0 0 25px #f09;
     /* Example styling */
}

#right-div {
    right: 0;
    color: white; /* Base text color */
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f09, 0 0 20px #f09, 0 0 25px #f09;
      /* Example styling */
}

#left-div2, #right-div2 {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    overflow-y: auto;  /* Allow scrolling if necessary */
    padding: 20px;
}

#left-div2 {
    left: 0;
    background-color: rgb(7, 152, 242, .3);
    color: white; /* Base text color */
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f09, 0 0 20px #f09, 0 0 25px #f09;
     /* Example styling */
}

#right-div2 {
    background-color: rgb(7, 152, 242, .5);
    right: 0;
    color: white; /* Base text color */
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f09, 0 0 20px #f09, 0 0 25px #f09;
      /* Example styling */
}

.sentence {
    margin-bottom: 10px;
    
    word-wrap: break-word;
    padding-bottom: 5px;
}

.line {
    border-bottom: 2px solid white;
    margin-bottom: 5px;
}

#info{
   
    position: absolute;
    font-family: "FontOne";
    top: 5%;
    left: 20%;
    width: 60%;
    height: 100%;
    border-radius: 0;
}


.info-container {
    position: relative;  /* Required for absolute positioning */
    width: 100%;
    height: 100vh;  /* Or specific height depending on your layout */
    overflow: hidden;  /* Hide any wingdings that overflow outside the container */
    
}

.info-wingding {
    position: absolute;  /* Required for random positioning */
    font-family: 'Wingdings', sans-serif;  /* Use Wingdings font or any font you prefer */
}

#magTitle{
    position: relative;
    font-family: 'Fantome-Regular';
    color: #f09; /* Base text color */
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px rgb(0,0,0), 0 0 20px rgb(0,0,0), 0 0 25px rgb(0,0,0);
    font-size: 600%;
    top: 5%;
}

#random-sentences{
    position: absolute;
    
    height: 100vh;
    width: 100vw;
  
    z-index: 1000;
    font-family: 'Fantome-Regular'; 
    word-wrap: break-word;
    overflow: hidden;
    
    font-weight: bold;
    color: rgb(255, 0, 0); 
    color: black; /* Base text color */
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0), 0 0 25px rgb(255, 0, 0);
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    animation: fadeIn 0.5s ease-in-out;
}

#info:hover{
    color: white;
    border-radius: 5% ;
    transition: border-radius 2s ease-in-out;
}

@keyframes fadeColors {
    0% { background-color: #e04ce2; } 
    50% { background-color: #ffffff; }
    100% { background-color: #e04ce2; } 
}


#start{
    font-family: "FontOne";
    animation: fadeColor 10s infinite; /* 3 seconds to complete one cycle, infinitely repeating */
  transition: color 0.5s ease;
  transition: font-size 0.5s ease; /* Base text color */
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f09, 0 0 20px #f09, 0 0 25px #f09;
    outline: none;
    background-color: none;
    font-size: 400%;
    position: relative;
    top: 10%;
   
}

.GeneratedMarquee {
    font-size:50%;
    line-height:50%;
    color:#996600;
    background-color:#FFFFCC;
    padding:2%;
    }

    #scroll1{
        color:#0a0099;
    background-color:#7a121c;
    }

   

    #scroll2{
        font-size:60%;
        color:#990094;
    background-color:#127a29;
    }

    #scroll3{
        font-size:20%;
        color:#994a00;
    background-color:#7a121c;
    }

    #scroll4{
        font-size:50%;
        color:#009978;
    background-color:#af797f;
    }

    #scroll5{
        font-size:40%;
        color:#669900;
    background-color:#5f24be;
    }

    #scroll6{
        font-size:60%;
        color:#eb9d37;
    background-color:#00ffe5;
    }

    #scroll7{
        font-size:30%;
        color:#5beb37;
    background-color:#9dff00;
    }

@keyframes fadeColor {
    0% {
      color: white; /* Initial color */
    }
    50% {
      color: black; /* Middle color */
    }
    100% {
      color: white; /* Final color */
    }
  }

#questions{
    font-family: 'Fantome-Regular';
    position: absolute;
    top: 5%;
    left: 15%;
    width: 70%;
    height: 90%;
}

#questionText{
    font-family: 'Fantome-Regular';
    color: black;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f09, 0 0 20px #f09, 0 0 25px #f09;
}

.girl{
    top: 5%;
    position: absolute;
    border-radius: 15%;
    border-width: 5px;
    border-style: dashed;
    border-color: #5beb37;
    color: white;
   
    width: 20%;
    height: 10%;
}

#goodText{
left: 5%;
}

#badText{
    right:5%;
}

#girl{
    
    width: 30%;
    height: 80%;
position: absolute;
bottom: 80%;
right: 5%;
}

#girlImg{

    position: absolute;
    top: 10%;
    left: 40%;
    height: 300%;
}

#girlImg2{

    position: absolute;
    top: 10%;
    right: 40%;
    height: 300%;
}


#image-container {
    position: absolute;
    top: 15%;
    left:25%;
    width: 50%;
    height: 70%;
    background-color: rgba(255, 105, 180);
    border-radius: 50%;
    box-shadow: 0px 0px 15px 15px rgb(255, 105, 180);
    overflow: hidden; /* Ensures no image overflow */
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    font-family: 'Fantome-Regular'; 
    position: absolute;
    top: 90%;
    left: 33%;
    margin-top: 10px; 
    color: white; /* Base text color */
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f09, 0 0 20px #f09, 0 0 25px #f09;
   }

button { 
    font-family: 'Fantome-Regular'; 
    border: none;
   background-color: transparent;
    color: white; /* Base text color */
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f09, 0 0 20px #f09, 0 0 25px #f09;
    opacity: 90%;
    border-radius: 50%;
   padding: 10px 20px; 
   margin: 5px; 
   font-size: 40px; 
}


#wingding-loader {
    font-family: "Wingdings", sans-serif;
    font-size: 30px;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
}

#image-container img { 
    width: 100%;  
    height: 100%;  
    object-fit: contain; /* Ensures the image fills the container */
}

.result-box p:last-child {
    top: 25%;
    z-index: 1000;
    font-size: 300%;
    position: absolute;
    
    font-weight: bold;
    color: black; /* Base text color */
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f09, 0 0 20px #f09, 0 0 25px #f09;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    animation: fadeIn 0.5s ease-in-out;
}

#rejected-sentence{
    display: none;
    top: 10%;
    z-index: 1000;
    font-size: 600%;
    position: absolute;
    
    font-weight: bold;
    color: rgb(255, 0, 0); 
    color: black; /* Base text color */
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0), 0 0 25px rgb(255, 0, 0);
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    animation: fadeIn 0.5s ease-in-out;
}



#result { 
    display: none; 
}

#rejected-section{
    background-color: black;
    color: white;
}

#start{
    z-index: 1000;;
}
#welcome{
   z-index: 999;
   background-image: url(hpassets/cvr2.png);
    background-size: cover;
    cursor: url('hpassets/2.png'), auto;
    background-repeat: no-repeat;
    position: absolute;
    top: -5%;
    left: 10%;
    height: 100%;
    width:80%;
}

.grid { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px;
 }

.grid img { 
    width: 150px; 
    height: auto; 
    border: none;
}

#toggle-rejected
{
    position: absolute;
    top: 90%;
    right: 5%;
    font-size: 200%;
    color: black;/* Base text color */
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255);
}

#toggle-rejected:hover{
    color: white;
    transition: 2s ease;
}

#reload
{
    position: absolute;
    top: 90%;
    left: 5%;
    font-size: 200%;
    color: black;/* Base text color */
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255);
}

#reload:hover{
    color: white;
    transition: 2s ease;
}



#app{
    display: none;
}

#wingding-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none; /* Prevents interfering with clicks */
}

.wingding {
    z-index: -1000;
    position: absolute;
    font-family: "Wingdings", sans-serif;
    font-size: 40px;
    color: white;
    transition: transform 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
    body { 
        font-family: 'Fantome-Regular'; 
        background-image: url(imgs/giphy.gif);
        background-size: cover;
        background-repeat: repeat;
        background-color: #1F1821;
    }

    #welcome{
        background-image: none;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 5%;
        left: 5%;
        height: 80%;
        width:60%;
    }

    #info{
        position: absolute;
        animation: fadeColors 6s infinite alternate; /* Loops back and forth */
        transition: background-color 3s ease-in-out;
        top: 20%;
        left: 20%;
        width: 100%;
        
        height: 40%;
        border-radius: 50%;
    }
    
    #info:hover{
        color: white;
        border-radius: 5% ;
        transition: border-radius 2s ease-in-out;
    }

    #start{
        font-family: 'Fantome-Regular'; 
      
        outline: none;
        background-color: none;
        font-size: 150%;
        position: relative;
        top: 40%;
    }

    #image-container {
        position: absolute;
        top: 5%;
        left:0%;
        width: 100%;
        height: 70%;
        background-color: rgba(255, 105, 180);
        border-radius: 50%;
        box-shadow: 0px 0px 15px 15px rgb(255, 105, 180);
        overflow: hidden; /* Ensures no image overflow */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #buttons {
        font-family: 'Fantome-Regular'; 
        position: absolute;
        top: 80%;
        left: 0%;
        margin-top: 10px; 
       }

       .grid { 
        display: flex; 
        flex-wrap: wrap; 
        justify-content: center;
        gap: 10px;
     }
    
    .grid img { 
        width: 70px; 
        height: auto; 
        border: none;
    }

    .result-box p:last-child {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: clamp(5vw, 20vh, 20vw); /* Adjusts dynamically */
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        z-index: 1000;
        animation: fadeIn 0.5s ease-in-out;
    }

    #rejected-sentence {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: clamp(5vw, 13vh, 13vw); /* Adjusts dynamically */
        font-weight: bold;
        text-transform: uppercase;
        z-index: 1000;
        animation: fadeIn 0.5s ease-in-out;
    }



    #toggle-rejected
{
    position: fixed;
    bottom: 1%;
    left: 0%;
    z-index: 1000;
   

}

}